<nav class="transparent">
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">Tika Food</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/map">Restaurants Map</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/" class="sidenav-close">Home</a></li>
  <li><a routerLink="/map" class="sidenav-close">Restaurants Map</a></li>
</ul>

<div id="nav-bg" class="primary"></div>
